<p-table
  [value]="stocks"
  [loading]="isLoading">
  <ng-template #header>
    <tr class="border-b border-gray-200 text-left text-sm text-gray-600">
      <th class="px-6 pb-4">Ticker</th>
      <th class="px-6 pb-4">Name</th>
      <th class="px-6 pb-4 text-right">Price</th>
      <th class="px-6 pb-4 text-right">Change</th>
      <th class="px-6 pb-4 text-right">Volume</th>
    </tr>
  </ng-template>
  <ng-template
    #body
    let-stock>
    <tr class="border-b border-gray-100 last:border-b-0">
      <td class="px-6 py-5">
        <span class="font-mono text-lg">{{ stock.ticker }}</span>
      </td>
      <td class="px-6 py-5 text-gray-800">{{ stock.name }}</td>
      <td class="px-6 py-5 text-right text-gray-900">
        {{ stock.price | currency: stock.currency : 'symbol' : '1.2-2' }}
      </td>
      <td class="px-6 py-5 text-right">
        <p-tag
          [value]="(stock.change_pct | number: '1.2-2') + '%'"
          [severity]="stock.change_pct >= 0 ? 'success' : 'danger'"
          rounded
          class="px-3 py-1.5 text-xs" />
      </td>
      <td class="px-6 py-5 text-right text-gray-600">
        {{ formatVolume(stock.volume) }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    @for (_ of [].constructor(6); track $index) {
      <tr>
        <td class="px-6 py-5">
          <p-skeleton
            width="4rem"
            height="1.5rem" />
        </td>
        <td class="px-6 py-5">
          <p-skeleton
            width="10rem"
            height="1.2rem" />
        </td>
        <td class="px-6 py-5 text-right">
          <p-skeleton
            width="6rem"
            height="1.2rem" />
        </td>
        <td class="px-6 py-5 text-right">
          <p-skeleton
            width="4rem"
            height="2rem"
            borderRadius="16px" />
        </td>
        <td class="px-6 py-5 text-right">
          <p-skeleton
            width="4rem"
            height="1rem" />
        </td>
      </tr>
    }
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td
        colspan="5"
        class="py-16 text-center text-lg text-gray-500">
        No data available at the moment
      </td>
    </tr>
  </ng-template>
</p-table>
