<div class="w-full">
  <div class="px-6 lg:px-10">
    <!-- Select Button -->
    <div class="mb-5">
      <p-selectButton
        [options]="investmentTypes"
        [(ngModel)]="selectedInvestment"
        optionLabel="label"
        optionValue="value"
        [allowEmpty]="false">
        <ng-template
          let-item
          pTemplate="item">
          <span>{{ item.label }}</span>
        </ng-template>
      </p-selectButton>
    </div>
    <!-- Table -->
    <div
      class="overflow-hidden rounded-3xl border-2 border-gray-400 bg-white p-5 shadow-xl dark:border-gray-500 dark:bg-gray-900">
      @if (selectedInvestment === 'stocks') {
        <app-stock-data-table />
      } @else if (selectedInvestment === 'crypto') {
        <app-crypto-data-table />
      }
    </div>
  </div>
</div>
