# Core framework
fastapi
slowapi
uvicorn[standard]

# LangChain ecosystem 
langchain-core
langchain
langchain-groq
langgraph
langgraph-cli[inmem]
langchain-huggingface
langchain-chroma
langchain-text-splitters

# Transformer and Vector database
sentence-transformers
chromadb         

# Data / finance
pandas_datareader
yfinance
numpy
fredapi
sec-edgar-api

# News
tavily

# Validation & types
pydantic

# Testing & development
pytest
ipython

# Env
python-dotenv

# Diagramming 
mermaid-cli